html,body { width:100%; height:100%; padding:0; margin:0; overflow:visible;}

body {
    background-color:black;
}



._straightx path {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

._straightx text {
    fill: white;
    stroke-width:0;
    font-size: 0.4em;
    font-family: Open Sans;
}

.zone-hover rect {
    stroke: red;
    stroke-width: 1px;
}


.zone-hover text.iconText {
    visibility: visible;
}

._zone .iconText {
    font-family: FontAwesome;
    fill: black;
    stroke-width:0;
    font-size: 25px;
    visibility: hidden;
}

#viewer {
    border:1px solid white;
    overflow:hidden;
}


text.red {
    fill:red;
}

text.yellow {
    fill:yellow;
}

text.white {
    fill:white;
}

text.grey {
    fill:#999999;
}


#base {
    position:relative;
}