._circle {
    fill: #ccc;
    stroke: #999;
    stroke-width: 0.2em;
}

._circle circle {
    r: 20;
}
._circle text {
    fill: white;
    stroke-width:0;
    font-size: 0.6em;
    font-family: Open Sans;
}


._circle2 {
    fill: #66CCFF;
    stroke: #0099CC;
    stroke-width: 0.1em;
}

._circle2 circle {
    r: 10;
}
._circle2 text {
    fill: #66CCFF;
    stroke-width:0;
    font-size: 0.4em;
    font-family: Open Sans;
}

._circle3 circle {
    fill: white;
    stroke: black;
    stroke-width: 0.1em;
    r: 10;
}

._circle3 text {
    fill: black;
    font-size: 0.7em;
    font-weight: bold;
    font-family: Arial;
}
