
._default {
    fill: black;
    stroke: #333;
    stroke-width: .2;
    opacity: 0.7;
}


text.label-xl {
    font-size: 140%;
}

text.label-l {
    font-size: 120%;
}

text.label-s {
    font-size: 80%;
}

text.label-xs {
    font-size: 60%;
}

div.content td.key {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align:right;
    border-bottom: 1px solid #CCC;
    width: 50%;
    padding: 5px;
}

div.content td.value {
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 1px solid #CCC;

}

div.content {
    background-color:white;
    border:1px solid #999999;
    font-family:Arial;
    font-size: 0.85em;
    border-radius: 5px;
    padding-bottom:5px;
}

div.content div {
    padding:5px;
}

.icon {
    font-family: FontAwesome !important;
}


g._straight .link {
    fill: none;
    stroke: #7bb9fe;
    stroke-width: 3.5px;
}

g._straight text.linkText {
    fill: white;
    font-size: 0.7em;
}

g._linear .link {
    fill: none;
    stroke: #7bb9fe;
    stroke-width: 1px;
}

g._step-before .link {
    fill: none;
    stroke: #7bb9fe;
    stroke-width: 3.5px;
}

g._step-before text.linkText {
    fill: white;
    font-size: 0.7em;
}

g._step-after .link {
    fill: none;
    stroke: #7bb9fe;
    stroke-width: 3.5px;
}

g._step-after text.linkText {
    fill: white;
    font-size: 0.7em;
}

g._link2 path.link {
    fill: none;
    stroke: lightgreen;
    stroke-width: 2px;
    stroke-dasharray: (6,3);
}


g._link2 circle.circleTarget {
    fill: lightgreen;
}

g._link2 circle.circleSource {
    fill: lightgreen;
}
