
._tab text.option_x {
    fill: white;
    font-size: 1.0em;
}

.selected_tab rect {
    fill:red;
}

.page {
    position:absolute;
    background-color:pink;
    padding:0;
    margin:0;
}

.page svg {
    fill:white;
}